@use "css/base/variable/mixin" as *;

.comp {
  /* text */

  width: 300px;
  height: 105px;

  font-family: "Hiragino Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #898989;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
